*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.bcf
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf
*.zip
*.DS_Store
# Media
*.mov

# TeX build dirs
_build/
build/

# Secrets
.env

# OS/editor noise
Thumbs.db

# Archive/compression
*.tar.gz
